.title-navbar{
	background-color: rgb(34, 2, 48);
	display:flex;
	flex-direction: row;
	align-items: center;
	column-gap: 25px;
	justify-content:space-between;	
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.h1{
	color: aliceblue;
	position: relative;
	left: 50px;
}
.navbar{
	position: fixed;
	width: 100%;
	height: 30px;
	top: 0px;
	
}
.search-div{
	display: flex;
	flex-direction: row;
	height: 50px;
	width: 100px;
	margin-top: 10px;

	margin-right: 15%;
	justify-content:center ;
}


.search{
	font-size: 18px;
	padding: 2px; 
	height: 30px;
	width: 300px;
	border-radius: 5px;
	
	}
.searchbutton{
	display: inline-flex;
	position: fixed;
		
}

.search-button{
	margin-top: 2px;
	height: 34.5px;
	width:40px;
	background-color: transparent;
	border-radius: 2px;
	position: absolute;
	right: 2.5%;
	border: none;
	


}
.search-button svg{
	font-size: 35px;
}
.user-profile svg{
	font-size: 45px;
	color: aliceblue;
}
.user-profile{
	position: fixed;
	margin-left:25%;
	
}
.navigate{
	background-color:  rgb(69, 3, 97) ;
	color: aliceblue;
	height: 40px;
	display: flex;
	justify-content:left;
	padding-left: 20px;
	padding-top: 10px;
}


.nav-button{
	
	background-color: transparent;
	border: none;
	font-size: 18px;
	color:aliceblue;
	transition:0.2s;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	
	
}

.nav-button:hover{
	height: fit-content;
	width: fit-content;
	background-color:rgb(172, 17, 234);
	border-radius: 5px;
	font-size: 20px;
	color:aliceblue;
	padding: 5px;
	
}
 

@media (max-width:1056px) {
	.title-navbar{
		display: flex;
	}
}