.title-Login{
	border-radius: 5px;
    background-color: rgb(34, 2, 48);
	padding: 10px;
	text-align: center;
	color: whitesmoke;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
	
}
.title-Login {
	height: 55px;
	background-color: rgb(48, 19, 61);
  }

  .Login-box{
	width: 50%;
	display: flexbox;
	background-color: rgb(68, 29, 84);
	color: whitesmoke;
	margin: auto;
	border-radius: 5px;
	text-align: center;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.Login-form{
	width:100%;
	display: flexbox;
	background-color: rgb(68, 29, 84);
	margin: auto;
	border-radius: 5px;
	text-align: center;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
input[type=email] {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	 margin-top: 6px;
	margin-bottom: 10px; 
	border-radius: 0.5rem;

  }
input[type=password] {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	margin-top: 6px;
	margin-bottom: 10px;
	border-radius: 0.5rem;

	}

.LoginBtn{
	margin-bottom: 2.5%;
	background-color:  rgb(68, 29, 84);
}


.login_btn{
	background-color:rgb(66, 22, 83);
	color: white;
	padding: 12px 20px;
	border: none;
	font-size:16px;
	transition: 0.2s;
} 
.login_btn:hover{
	background-color: rgb(95, 40, 117);
	padding: 12px 20px;
	font-size: 14px;
	
}

  table{
	margin: auto;

}


.login-with-google-btn{
	
	transition: background-color 0.3s, box-shadow 0.3s;
	 padding: 12px 16px 12px 42px;
	border: none; 
	border-radius: 3px;
	box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
	color: #757575;
	font-size: 14px;
	font-weight: 500;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
	background-color: white;
	background-repeat: no-repeat;
	background-position: 12px 11px;
  }
  .login-with-google-btn:hover {
	box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25);
  }
  .login-with-google-btn:active {
	background-color: #eeeeee;
  }
  .login-with-google-btn:focus {
	outline: none;
	box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25), 0 0 0 3px #c8dafc;
  }
  .login-with-google-btn:disabled {
	filter: grayscale(100%);
	background-color: #ebebeb;
	box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
	cursor: not-allowed;

}


.loginBtn {
	box-sizing: border-box;
	height: 40px;
	position: relative;
	width: 13em;  
	margin: 0.2em;
	padding: 0 20px 0 46px;
	border: none;
	text-align: left;
	line-height: 34px;
	white-space: nowrap;
	border-radius: 0.2em;
	font-size: 16px ;
	color: #FFF;
  }
  .loginBtn:before {
	content: "";
	box-sizing: border-box;
	position: absolute;
	top: 0;
	left: 0;
	width: 34px;
	height: 100%;
  }
  .loginBtn:focus {
	outline: none;
  }
  .loginBtn:active {
	box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
  }
  
  
  /* Facebook */
  .loginBtn--facebook {
	background-color: #4C69BA;
	background-image: linear-gradient(#4C69BA, #3B55A0);
	/*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
	text-shadow: 0 -1px 0 #354C8C;
	
  }
  .loginBtn--facebook:before {
	border-right: #364e92 1px solid;
	background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
	
  }
  .loginBtn--facebook:hover,
  .loginBtn--facebook:focus {
	background-color: #5B7BD5;
	background-image: linear-gradient(#5B7BD5, #4864B1);
  }
  
.other-signIn-options{
	display:flow-root;
	position: relative;
	margin-top: auto;
	margin-bottom: auto;
	
}

.signUp-button-From-signIn{
	background-color:  rgb(34, 2, 48);
		color: white;
		padding: 12px 20px;
		border: none;
		cursor: pointer;
		font-size: 15px;
		transition: 0.3s;
		border-radius: 10px;
		
}
.signUp-button-From-signIn:hover{
	background-color: rgb(104, 40, 130);
	padding: 12px 20px;
	border:none;
	border-radius: 10px;
	font-size: 13px;
}

.signUp-From-signIn
{
		
		margin-left: 75%;
}  

.forgot-password{
	float: left;
	margin-left: 50%;
	width: max-content;
}

.hidden{
	display: none;
  }
  .show{
	color: yellow;
	font-size: 15px;
	margin-bottom: 10px;
  }