.Big-parent{
	margin-top: 140px;
}
.Big-parent button{
	background-color: transparent;
	color:violet;
	border: none;
	transition: 0.3s;
}
.Big-parent svg{
	font-size: 45px;
}
.Big-parent button svg:hover{
    font-size: 55px;
	
}

.small-parent svg{
	font-size: 30px;
}
.small-parent{
	margin-top: 10px;
	transform: translateX(calc(var(--slider-index) * -100%));
	
}

.small-parent button{
	background-color: transparent;
	color:violet;
	border: none;
	transition: 0.2s;
}

.small-parent button svg:hover{
	background-color:transparent;
	color: violet;
    font-size: 38px;
	

}
.small-parent1 svg{
	font-size: 30px;
}
.small-parent1{
	margin-top: 20px;
	transform: translateX(calc(var(--slider-index) * -100%));
	
}

.small-parent1 button{
	background-color: transparent;
	color:violet;
	border: none;
	transition: 0.2s;
}

.small-parent1 button svg:hover{
	background-color:transparent;
	color: violet;
    font-size: 38px;

}

.Title-Slider
{
	color: aliceblue;
	margin-left: 60px;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

#BigSliderTitle{
	color: aliceblue;
	margin-top: 140px;
	margin-left: 300px;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.increment{
	margin-left: 20px;
}

.decrement{
	margin-right: 20px;
}

.ss_image{
	border-radius: 8.5px;
	transition: 0.5s ease ;

}
.ss_image:hover{
	
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
	z-index: -1;

}

.bs_image{
	border-radius: 18.5px;
	transition: 0.8s;
}
.bs_image:hover{
    
    transform: scale(1.02);
    transition: 0.3s ease-in-out;
	z-index: -1;
	
}

.Title-Slider1
{
	color: aliceblue;
	margin-left: 60px;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	margin-top: 140px;

}