.title-signUp{
	
	border-radius: 5px;
    background-color: rgb(34, 2, 48);
	padding: 10px;
	text-align: center;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: aliceblue;
	

} 


.title-signUp {
	height: 55px;
	background-color:rgb(48, 19, 61);
	color: aliceblue;
  }

.signUp-box{
	width: 50%;
	background-color: rgb(68, 29, 84);
	margin: auto;
	border-radius: 5px;
	color: aliceblue;
	text-align: center;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
	
	
	
}

.signUp-form{
	width:100%;
	background-color:   rgb(68, 29, 84);
	border-radius: 5px;
	text-align: center;
	color: aliceblue;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif

}

table{
	margin: auto;
}

input[type=email] {
	width: 130%;
	padding: 12px;
	border: 1px solid #ccc;
	 margin-top: 6px;
	margin-bottom: 10px; 
	border-radius: 0.5rem;

  }
input[type=password] {
	width: 130%;
	padding: 12px;
	border: 1px solid #ccc;
	margin-top: 6px;
	margin-bottom: 10px;
	border-radius: 0.5rem;

	
  }

input[type=submit]:hover {
	background-color:rgb(104, 40, 130);
	padding: 12px 20px;
	border-radius: 10px;
	font-size: 16px;
	

  }
  input[type=submit] {
	background-color:  rgb(34, 2, 48);
	color: rgb(212, 208, 208);
	padding: 12px 20px;
	font-size: 18px;
	border: none;
	cursor: pointer;
	border-radius: 10px;
	transition: 0.3s;
  }
  input[type=checkbox] {
	padding: 12px;
	border: 1px solid #ccc;
	margin-top: 6px;
	margin-bottom: 20px;
	
  }